<div class="auth-container">
  <mat-card class="my-card">

    <mat-card-title>
      <h1>Sign up</h1>
    </mat-card-title>
    <mat-card-content>
      <!-- Errors -->
      <mat-error *ngIf="errors?.error">
        {{ errors?.error }}
      </mat-error>
      <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input  matInput  placeholder="Email" name="email" formControlName="email" required>
          <mat-error *ngIf="errors?.email">{{ errors?.email }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input  matInput  placeholder="Password"  formControlName="password" required>
          <mat-error *ngIf="errors?.password">{{ errors?.password }}</mat-error>
        </mat-form-field>
        <mat-action-row class="full-width">
          <button class="submit-button" mat-raised-button color="primary">Sign in</button>
        </mat-action-row>
      </form>
    </mat-card-content>
  </mat-card>

</div>
