<div class="auth-container">
  <mat-card class="my-card">
    <mat-card-title>
      <h1>Sign up</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Please fill out all fields.</p>
    </mat-card-subtitle>
    <mat-card-content>
      <form class="my-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Your Name</mat-label>
          <input matInput placeholder="First name" formControlName="name" required>
          <mat-error *ngIf="errors?.name">{{ errors?.name }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" name="email" formControlName="email" required>
          <mat-error *ngIf="errors?.email">{{ errors?.email }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="errors?.password">{{ errors?.password }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Confirm Password" formControlName="password_confirmation"
                 required>
          <mat-error *ngIf="errors?.password">{{ errors?.password }}</mat-error>
        </mat-form-field>
        <mat-action-row class="full-width">
          <button class="submit-button" mat-raised-button color="primary">Register</button>
        </mat-action-row>
      </form>
    </mat-card-content>
  </mat-card>
</div>
